

<body>

<div class="container">
  <div class="row">


    <div class="col-lg-6">
        <p>
          <br> <br><br><br> <br>
            Suspect is a music and clothing collective for anyone who likes the creative underground sound and style. We showcase up
            and coming unique talent. Our mission is to spread and share our art, crativity and music. Suspect is the product of everything
            we love and have passion for. Suspect is a home for the "dgen" Were here to innovate, shake things up, throw amazing quality
            shows and put on great artist and people. Whats involved? Music clothing Photography and Passion </p>
    </div>

    <div class="col-lg-6">
      
      <img class="logo" src="../../assets/suspect2.png"  width="550">
    </div>


  </div>

<!-- <div class="row">
<div class="col-lg-12">

  yo momma x 10 
</div>
</div> -->

</div>

</body>


