.container {
    background-color: black;
    

}

body {
    background-color: black; 
}

element.style {
    background: black; 
}

element.style {
    background-color: black; 
}

body {
    color: white 
}