<p id="headline">
    CONTACT US </p>
<div class="container">
    <div class="row">
        <div class="column-lg-6">
            OUR LOCATION
            <br> Suspect inc
            <br> 4233 Sample ave San Fransisco, CA 92431

        </div>
        


                <div class="col-sm-6 my-1">

                        <label class="sr-only" for="inlineFormInputGroupUsername">Your name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">@</div><div>

                        
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name">
                        </div>
                      </div>
                      <br>
                      
                      <div class="col-sm-6 my-1">

                            <label class="sr-only" for="inlineFormInputGroupUsername">Your name</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">@</div><div>
    
                            
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Name">
                            </div>
                          </div>




                  