
<div class="container">
  <p id="headline"> CONTACT US
    <BR>
    <BR>
  </p>
  <form action="action_page.php">


    <input type="text" id="fname" name="firstname" placeholder="Your full name" [(ngModel)]="contact.fullname" required>
    <br>


    <input type="text" id="lname" name="lastname" placeholder="Email" [(ngModel)]="contact.email" required>
    <br>




    <textarea id="subject" name="subject" placeholder="Your message" style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
