<div id="backround" class="homebackroundimg">
    <img src="assets/suspect2.png" class="center" width="300" height="300" id="logo">

    <div class="row">
            <div class="col-md-12 text-center">
              
            </div>
          </div>



    <button class="btn-style btn-1" type="button">Store</button>



    <a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a> 
    <button class="btn-style" (click)="reroute()">Music</button>


<div class="container">
        <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-two">Login</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-three">Register</a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button victoria-four">Learn more</a> </div>
              </div>
</div>
          